<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <title>Base Page</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'images/HG.jpg'%}" width="30" height="30" alt="" loading="lazy" />HG
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'basic_app:other' %}">Other</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'basic_app:relative' %}">Relative</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'admin:index' %}">Admin Login</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-danger" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <div class="container">
  
      {% block content %}
      <!-- This is where you'll put your page content. Leave it blank for now. -->
      {% endblock %}
      
      </div>
</body>
</html>